<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--NEW USER-->
<div th:fragment="new">
  <form th:method="POST"
      th:action="@{/admin/new}"
      th:object = "${newUser}"
      id="new-tab"
      class="d-flex flex-column align-items-center">

  <!--  FIRST NAME -->
  <div class="mb-3 d-flex flex-column align-items-center w-100">
    <label for="firstName" class="form-label">First name</label>
    <input type="text"
           class="form-control"
           th:field="*{name}"
           id="firstName"
           name="firstName"
           required>
  </div>

  <!--  LAST NAME-->
  <div class="mb-3 d-flex flex-column align-items-center w-100">
    <label for="lastName" class="form-label">Last name</label>
    <input type="text"
           class="form-control"
           th:field="*{lastName}"
           id="lastName"
           name="lastName"
           required>
  </div>

  <!--  AGE -->
  <div class="mb-3 d-flex flex-column align-items-center w-100">
    <label for="age" class="form-label">Age</label>
    <input type="text"
           class="form-control"
           th:field="*{age}"
           id="age"
           name="age"
           required
    >
  </div>

  <!--  EMAIL -->
  <div class="mb-3 d-flex flex-column align-items-center w-100">
    <label for="email" class="form-label">Email address</label>
    <input type="email"
           class="form-control"
           th:field="*{username}"
           id="email"
           name="email"
           required>
  </div>
  <!--  PASSWORD -->
  <div class="mb-3 d-flex flex-column align-items-center w-100">
    <label for="password" class="form-label">Password</label>
    <input type="password"
           class="form-control"
           th:field="*{password}"
           id="password"
           name="password"
           required>
  </div>
  <!--ROLES -->
    <div class="mb-3 d-flex flex-column align-items-center w-100">
      <label for="roles" class="form-label">Role</label>
      <select
              th:field="*{roles}"
              th:size="${roles.size()}"
              th:multiple="roles"
              id="roles"
              name="roles"
              class="form-select w-100"
              required>
        <option

                th:each="role: ${roles}"
                th:value="${role.getId()}"
                th:text="${role.getRole()}"
        />
      </select>
    <button type="submit" class="mt-5 btn btn-success fs-4">Add new
      user
    </button>
  </div>

  </form>
</div>

</body>
</html>